*
!features
!src
!docs
!.husky
!package.json
!package-lock.json
!.gitignore
!.eslintignore
!.eslintrc.json
!.prettierignore
!.prettierrc.json
!jest.config.json
!babel.config.json
!Dockerfile
!docker-compose.yaml
!.dockerignore
!.github/
!.github/**
